body {
  padding: 40px;
}

button {
  background: blue;
  color: white;
  padding: 20px 30px 20px 30px;
  border: none;
  outline: none;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

  button:focus {
    background: darkblue;
  }

  button:active {
    transform: scale(0.9, 0.9);
  }
